// Specific CSS for your home-page

body {
  background-size: cover;
  background-image: url(/assets/background.jpg);
}


// .alignment {
//   display: flex;
//   align: right;
// }

.WHITE {
  background-color: #e3e3e3;
}

.BLUE {
  background-color: #175dad;
}

.RED {
  background-color: #ad2817;
}

.NIL{
  background-color: gray;
  opacity: 50%;
  border: solid;
  border-color: black;
}
.left {
        text-align: left;
        float: left;
        clear: none;
        width: 50%;
    }
.right {
    text-align: right;
    float: right;
    clear: none;
    width: 50%;
    font: size 5px;
}

.stock {
  display: center;
}

.row {
  justify-content: center;
  vertical-align: middle
}

h3 {
  font-size: 25px
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 4px
}

// .sf-landing {
//   margin-top: 100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 190px;
//   // display: flex;
//   // justify-content: center;
//   align-items: center;
//   // position: relative;
// }

// .header {
//   font-size: 60px;
//   margin-top: 180px
// }


// p {

  // display: flex;
  // justify-content: center;
  // align-items: center;
// }

// .scaled {
//   transform: scale(1.2)
// }

// .child {

//   // display: flex;
//   // flex-direction: column;
//   // align-items: flex-start;
//   // justify-content: center;
//   // width: 250px;
//   // height: 400px;
//   // background-color: rgba(185,190,198,0.7);
//   // position: absolute;
//   // top: 50%;
//   // left: 50%;
//   // transform: translate(-50%, -50%);
//   // opacity: 1;
//   // border: solid 1px;
//   // border-color: rgb(135,136,139);
//   // border-radius: 12px;

// }

