<div class="container">
  <h1>Production Dashboard</h1>
  <div class="grid-container">
    <div class="child Area-1">
      <div class="m">
        <h2> Total Orders by Type</h2>

        <%= pie_chart Order.group(:t).count, donut: true, legend: false, colors: ["#175dad","#ad2817", "#e3e3e3"]%>
      </div>
    </div>
    <div class="child Area-2">
      <h2> Orders per Month </h2>
      <div class="m">
        <%= line_chart Order.group(:time).count %>
      </div>
    </div>
    <div class="child Area-3">
      <h2> Production lead time for orders </h2>
      <div class="m">
      </div>
    </div>
    <div class="child Area-4">
      <h2> Supply chain indicators </h2>
      <div class="m">
      </div>
    </div>
    <div class="child Area-5">
      <h2> Number reclamations and the rate of return  </h2>
      <div class="m">
      </div>
    </div>
    <div class="child Area-6">
      <h2> OEE of stations </h2>
      <div class="m">
      </div>
    </div>
  </div>
</div>
