<div class="container ">
  <% if user_signed_in? == false%>
  <div >
    <h2 >Smart Factory Dashboard</h2>
  </div>
<% end %>

  <% if (user_signed_in? == true and current_user.role== "admin") %>
    <div >
      <h2 class="header">Hello Admin,</h2>
      <h2 >please choose where to go</h2>
    </div>
    <div class="container flex-container ">
      <div>
        <%= link_to "Business Dashboard", business_index_path, class: "btn scaled btn-lg btn-secondary" %>
      </div>
      <div>
        <%= link_to "Production Dashboard", production_index_path, class: "btn scaled btn-lg btn-secondary" %>
      </div>
      <div>
        <%= link_to "Process Dashboard", process_index_path, class: "btn scaled btn-lg btn-secondary" %>
      </div>
      <div >
       <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn scaled btn-lg btn-secondary" %>
      </div>
    <% end %>

  </div>

</div>
