.left {
        text-align: left;
        float: left;
        clear: none;
        width: 50%;
    }
.right {
    text-align: right;
    float: right;
    clear: none;
    width: 50%;
    font: size 5px;
}
