.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(175, 175, 175,0.7);
  border-bottom: 10px;
  border-color: rgba(255,255,255,0.5)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 20px;
}

.cursor {
  :hover {
    cursor: pointer;
  }
}
