/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap" ;
/* picks it up in node_modules! */
@import "home/index" ;
@import "business/index" ;
@import "production/index" ;
@import "process/index" ;
@import "components/index" ;

body {
  background-size: cover;
  background-image: url(/assets/background.jpg);
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  overflow-y: hidden;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center
}

h3 {
  font-size: 25px
}

.login {
  width: 350px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.container {
  margin-top: 80px;
}

.child {
  background-color: rgba(175, 175, 175,0.7);
  border-radius: 5px;
  border-color: black;
  text-align: center;
  padding: 5px

}

.row {
  justify-content: center;
  vertical-align: middle
}




